
.nav {
    grid-area: navbar;
    background-color: cornflowerblue;
    border-radius: 10px;
}
.item{
    padding-top: 20px;
    text-align: center;
}
.item a {
    color: white;
    text-decoration: none;
}
.item .active {
    color: black;
}